body  
{  
    margin: 0;  
    padding: 0;  
    background-image: url("communicationBackground.png"); 
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    font-family: 'Segoe UI Semibold';
    text-align: center;
}  
.MedicalReport{  
        width: 350px;  
        overflow:hidden;  
        margin: auto;  
        margin: 20 0 0 500px;  
        padding: 20px;  
        background: #ece6dea4;  
        border-radius: 50px ;  
        position: absolute;
        top: 5%;
        left: 42%;   
        border: 3px solid rgba(73, 52, 38, 0.411);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);     
}  


h2{  
    text-align: center;  
    color: #000000;  
    padding: 10px;  
}  
label{  
    color: #000000;  
    font-size: 16px;  
    font-family: 'Century Gothic';
}

#Phone{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 8px;  
    padding: 3px;  
    margin: 5px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 5px rgba(8,7,16,0.6);
    background-color: rgba(255, 255, 255, 0.925);
    font-family: 'Century Gothic';
    font-size: 15.1px;
      
}

#Pname{  
  width: 300px;  
  height: 30px;  
  border: none;  
  border-radius: 8px;  
  padding: 3px;  
  margin: 5px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 5px rgba(8,7,16,0.6);
  background-color: rgba(255, 255, 255, 0.925);
  font-family: 'Century Gothic';
  font-size: 15.1px;
    
}


#AppType{
  width: 300px;  
  height: 30px;  
  border: none;  
  border-radius: 8px;  
  padding: 3px;  
  margin: 5px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 5px rgba(8,7,16,0.6);
  background-color: rgba(255, 255, 255, 0.925);
  font-family: 'Century Gothic';
  font-size: 15.1px;
}

button{  
    margin-top: 5px;
    width: 30%;
    background-color: #ffffff;
    color: #080710;
    padding: 4px 0;
    font-size: 14px;
    font-weight: 70;
    border-radius: 30px;
    cursor: pointer;    
    font-family: 'Century Gothic';   
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(8,7,16,0.6);
    border: 2px solid rgba(255,255,255,0.1);
    font-size: 15.1px; 
}

span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: left;  
    background-color: grey;  
}  

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 5px rgba(8,7,16,0.6);
    font-size: .8rem;
    letter-spacing: 1px;
    font-family: 'Segoe UI Semibold'; 
    width: 280px;
    height: 130px;
}