nav {
	margin: 27px auto 0;

	position: relative;
	width: 1315px;
	height: 50px;
	background-color:  #3f2f1f63;;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
    font-family: 'Segoe UI Semibold',cursive;
	cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 110px;
}
a:nth-child(2) {
	width: 130px;
}
a:nth-child(3) {
	width: 160px;
}
a:nth-child(4) {
	width: 110px;
}
a:nth-child(5) {
	width: 165px;
}
a:nth-child(6){
    width: 180px;
}
a:nth-child(7){
    width: 85px;
}
a:nth-child(8){
    width: 125px;
}
a:nth-child(9){
    width: 150px;
}
a:nth-child(10){
    width: 100px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #e09191;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 158px;
	left: 100px;
    font-family: 'Century Gothic'; 
	background-color: #a84981;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 130px;
	left: 260px;
	background-color: #8843a8;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 110px;
	left: 400px;
	background-color: #5643a8;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 167px;
	left: 510px;
	background-color: #4388a8;
}
nav .start-contact, a:nth-child(6):hover~.animation {
        width: 176px;
        left: 680px;
        background-color: #43a897;
}
nav .start-contact, a:nth-child(7):hover~.animation {
	width: 85px;
	left: 858px;
	background-color: #43a86d;
}
nav .start-contact, a:nth-child(8):hover~.animation {
	width: 125px;
	left: 940px;
	background-color: #5ba843;
}
nav .start-contact, a:nth-child(9):hover~.animation {
	width: 150px;
	left: 1062px;
	background-color: #a8a643;
}
nav .start-contact, a:nth-child(10):hover~.animation {
	width:100px;
	left: 1215px;
	background-color: #a87443;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background-image: url("Untitled.png"); 
	background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
	
}
h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Century Gothic', cursive;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Century Gothic',cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}